
h1{font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
    background-color: purple;
}

p{font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: larger;
font-variant: small-caps;
color: purple;
margin-top: 20px;
margin-bottom: 50px;
background-color: rgb(122,206,206)
}

body{
    background-color: rgb(129, 159, 172)
}

.wrap{
    background-color: aqua;
}

a{
    border:3px;
    border-color: black;
    border-style: solid;
    margin: 50px;
}

#PortfolioLink1{
    background-color: rgba(49, 54, 66, 0.4);
    border-color: grey;
    border-style: solid;
    border:2px;
    border-radius: 10px;

    padding:10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:700;
    color:white;
    text-decoration: none;
}
#PortfolioLink1:hover{
    background-color:rgb(0,47,167);
    border:2px;
    border-color:black;
    border-style:solid;

}


#PortfolioLink1{
    background-color: rgba(49, 54, 66, 0.4);
    border-color: grey;
    border-style: solid;
    border:2px;
    border-radius: 10px;

    padding:10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:700;
    color:white;
    text-decoration: none;
}
#PortfolioLink1:hover{
    background-color:rgb(0,47,167);
    border:2px;
    border-color:black;
    border-style:solid;

}

#PortfolioLink2{
    background-color: rgba(49, 54, 66, 0.4);
    border-color: grey;
    border-style: solid;
    border:2px;
    border-radius: 10px;

    padding:10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:700;
    color:white;
    text-decoration: none;
}
#PortfolioLink2:hover{
    background-color:rgb(0,47,167);
    border:2px;
    border-color:black;
    border-style:solid;

}
#PortfolioLink3{
    background-color: rgba(49, 54, 66, 0.4);
    border-color: grey;
    border-style: solid;
    border:2px;
    border-radius: 10px;

    padding:10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:700;
    color:white;
    text-decoration: none;
}
#PortfolioLink3:hover{
    background-color:rgb(0,47,167);
    border:2px;
    border-color:black;
    border-style:solid;

}
#PortfolioLinkHomepage{
    background-color: rgba(49, 54, 66, 0.4);
    border-color: grey;
    border-style: solid;
    border:2px;
    border-radius: 10px;

    padding:10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:700;
    color:white;
    text-decoration: none;
}
#PortfolioLinkHomepage:hover{
    background-color:rgb(0,47,167);
    border:2px;
    border-color:black;
    border-style:solid;

}